.title {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 10px;
}

.image img {
  width: 45px;
  height: 40px;
}

.description p {
  height: 40px;
}

.quantity-input {
  display: flex;
  flex-direction: column;
}

.description input {
  margin-bottom: 25px;
  width: 60px;
}

.calculation h4 {
  margin-left: 30px;
}

.calculation-section {
  border-top: 3px solid grey;
}

.calculation .money {
  color: tomato;
}
