*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 100%;
}
.timer-container{
background-image: url("../../../../Images/watch1.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
/* width: 100vw; */
height: 100vh;

}
.timer{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
height: 100%;
}
.timer div:first-child{
    text-align: center;
}
.timer-icon{
    font-size:8em;
}

.timer div:first-child p{
    color: #f8f8f8;

}
.timer div:last-child{
    border: 1px solid #fff;border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 3em;
    padding: 2em;
    text-align: center;
}
.time-head, .timer div:last-child span{
    font-size:3em
}
@media screen and (max-width: 480px){
    .timer div:last-child{
        margin-left: 2em;
        margin-right: 2em;
        padding:3em 1em;
    }
    
}