
.table-row{
    margin-top: 0;
     /* margin-bottom: 40px;  */
    /* padding-top:25px; */
    border-radius: 1px solid black;
    padding-left:20px;
}
.p-button{
    height: 50px;
    width: 120px;
    justify-content: center;
    margin-left: 20px;
}