.single-size-bg{
    background-color: gainsboro;
    /* border-radius: ; */
}

.single-size-text{
    color:rgb(141, 141, 141); 
}

.product-text-align{
    text-align: justify;
}

.product-size-hover{
    padding: 5px;
    font-size: 20px;
}

.product-size-hover:focus{
    background: darkslateblue;
    border-radius:50%;
    width: 50px;
    text-align: center;
    color: white;
}

.btn-outline-remove{
    box-shadow: none;
}

.product-arrow-background{
    background:black;
    padding: .7rem;
    border-radius: 50%;
    width: 45px;
    text-align: center;
    transition: .2s all ease-out;
}

.product-arrow-background:hover{
    background: rgb(206, 154, 133);
}

.add-cart-hover{
    transition: .5s ease-in;
}

.add-cart-hover:hover{
    box-shadow: rgb(156, 156, 156);
    transform: scale(1.1);
    cursor:pointer;
}

.text-category{
    color: rgb(151, 149, 149);
}
