
.searchItem {
  position: absolute;
  right: 90px;
  top: 70px;
  z-index: 1;
  background: white;
  padding:15px;
  width:200px;
}
.search{
    /* color:black; */
 /* position: relative; */
  left: 0px;
  top: 0px;
  z-index: -1;
}
