*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  .container-review {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    font-weight: 700;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(13, 15, 17);
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }

  /* form design */
  /* .formStyle {  */
    /* background-color: #2ecc71; */
    /* padding: 20px; 
    width: 400px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #161414;
  }
  
  .formButton {
    float: right;
    background-color:#ffffff;
    display:inline-block;
    color:#2ecc71;
    font-size:28px;
    font-weight: 500;
    padding:6px 24px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration:none;
  }
  
  .formButton:hover {
    background-color: #27ae60;
    color:#ffffff;
  }
  
  .formButton:active {
    position:relative;
    top:3px;
  }
   */
  /*To remove the outline that appears on clicking the input textbox*/
  /* input:focus {
    outline: none;
  } */